/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.button-to-link {
  border: none;
  background-color: inherit;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
  padding-left: 0;
}

p {
  font-size: 17px;
}

.form-check-input:checked {
  background-color: var(--bs-success) !important;
}

.show-links {
  display: flex;
  gap: 10px;
}

h1 {
  text-align: center;
}

.captialize {
  text-transform: capitalize;
}

.whiten {
  color: white !important;
}
